/********************/
/* BRANDING */
/********************/

/********************/
/* UNIVERSAL CSS */
/********************/
* {
	box-sizing: border-box;
	/* The box-sizing propery is used to tell the browser what the sizing properties (width and height) should include; border-box includes content, padding, and border, but not the margin */
	margin: 0;
	padding: 0;
}

.section-header {
	padding-bottom: 3em;
}

.featurette-heading {
	font-weight: 300;
}

/********************/
/* HERO IMG CSS */
/********************/
.background-image {
	background-attachment: fixed;
	background-image: url('https://images.unsplash.com/photo-1447357704087-5de405e80f38?ixlib=rb-1.2.1&auto=format&fit=crop&w=1317&q=80');
	background-position: center;
	background-size: cover;
	height: 100vh;
}

/********************/
/* ABOUT CSS */
/********************/
#about {
	margin: 5em 0;
}

/********************/
/* STAFF CSS */
/********************/
#staff {
	background-color: #f0f0f0;
	padding: 5em 0;
}

/********************/
/* STAFF CSS */
/********************/
#projects {
	padding: 5em;
}

/********************/
/* PROJECT CSS */
/********************/
.projects {
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
	"one one one one"
	"two two two two "
	"three three three three"
	"four four four four"
	"five five five five"
	"six six six six"
	;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

@media screen and (min-width: 768px) {
	.projects {
	  display: grid;
	  grid-gap: 10px;
		grid-template-areas:
			"one one two two"
			"one one three four"
			"five five six six"
		;
		grid-template-columns: repeat(4, 1fr);
	  grid-template-rows: repeat(3, 1fr);
	}
}

.one {
	grid-area: one;
}

.two {
	grid-area: two;
}

.three {
	grid-area: three;
}

.four {
	grid-area: four;
}

.five {
	grid-area: five;
}

.six {
	grid-area: six;
}
